<footer class="page-footer">
  <h1><a class="footer-title" href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
  <a href="{{ site.url }}">{{ site.author }}</a>
  {% if site.facebook_username %}
  <a href="https://www.facebook.com/{{ site.facebook_username }}"><i class="fa fa-facebook-square"></i></a>
  {% endif %}
  {% if site.twitter_username %}
  <a href="https://twitter.com/{{ site.twitter_username }}"><i class="fa fa-twitter"></i></a>
  {% endif %}
  <a href="{{ "/feed.xml" | prepend: site.baseurl }}"><i class="fa fa-rss"></i></a>
</footer>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-56319752-1', 'auto');
  ga('send', 'pageview');
</script>
<script type="text/javascript" src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>