<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <meta name="keywords" content="{{ page.categories | join: ', ' }}">
  <meta name="author" content="João Saragossa">
  <!-- twitter-cards -->
  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="twitter:site" content="@joaosaragossa"/>
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}"/>
  <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}"/>
  <meta name="twitter:creator" content="@joaosaragossa"/>
  <meta name="twitter:image:src" content="{% if page.headerimage %}{{ site.url }}{{ site.baseurl }}/img/posts-header/{{ page.headerimage }}{% else %}{{ site.author_img }}{% endif %}"/>
  <meta name="twitter:domain" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"/>
  <!-- /twitter-cards -->
  <!-- facebook meta -->
  <meta property="og:image" content="{% if page.headerimage %}{{ site.url }}{{ site.baseurl }}/img/posts-header/{{ page.headerimage }}{% else %}{{ site.author_img }}{% endif %}" />
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:description" content="{{ page.description }}" />
  <!-- /facebook meta -->
  <link rel="image_src" href="{% if page.headerimage %}{{ site.url }}{{ site.baseurl }}/img/posts-header/{{ page.headerimage }}{% else %}{{ site.author_img }}{% endif %}" />
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <script type="text/javascript" src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
  <!-- DISQUS -->
  <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'qualquer-coisa'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
  </script>
  <!-- /DISQUS -->
</head>